<h2 class="h2 mb-5 mt-3"><%= t('views.home.title')%> | <%= t('views.technologies.title') %></h2>
<div class="row">
    <div class="col-8">
        <%= render partial: 'list' %>
    </div>
    <div class="col-4">
        <%= render partial: "form", locals: { title: t('views.technologies.new_title'), submit: t('views.technologies.new_submit') } %>
    </div>
</div>